*{
    background-color: azure;
    margin: 20px;
}
 .box{
    font-family: cursive;
    padding: 10px;
    border: solid black 3px;
 }

 #div1{
    background-color: lightblue;
 }
 #div2{
    background-color: lightcoral;
 }
 #div3{
    background-color: lightcyan;
 }